<div class='container bg-trasparent my-2 p-1'>
  <nav class="navbar navbar-light bg-light justify-content-center text-danger">
    <h2>Lançamentos: Firma: <%= @firma.name %> -  Registrada em nome de <%= @user.first_name %> <%= @user.last_name %></h2>
  </nav>
  <br>

  <table class="table table-dark table-striped table-hover">
    <thead class="table-dark table-sm align-middle text-center">
      <tr>
        <td> Id </td>
        <td> Tipo Lançamento </td>
        <td> Data</td>
        <td> Quantidade </td>
        <td> Qtd Atual </td>
        <td> Valor R$ </td>
        <td> Capital antes R$ </td>
        <td> Bancos R$ </td>
        <td> Liquido R$ </td>
      </tr>
    </thead>
    <tbody class= "text-center">
      <% qtd = 0%>
      <% vlr = @firma.capital%>
      <% ban = 0 %>
      <% @lancamentos.each do |lcto| %>
        <tr>
          <th scope="row">  <%= lcto.id %> </th>
          <th scope="row">  <%= lcto.tipo %> </th>
          <th scope="row">  <%= lcto.date %> </th>
          <th scope="row">  <%= lcto.quantity %> </th>
          <th scope="row">  <%= lcto.estoque %> </th>
          <th scope="row">  <%= lcto.value %> </th>
          <th scope="row">  <%= lcto.initcap %> </th>
          <th scope="row">  <%= lcto.emprestimo %> </th>
          <th scope="row">  <%= lcto.saldo %> </th>

        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <p type="button" class="btn btn-success rounded-pill"><%= link_to 'Continuar', firma_path(@firma) %></p>
</div>
