<div class='container bg-trasparent my-2 p-1'>
<nav class="navbar navbar-light bg-light">
<!--> <% @user = User.find(current_user.id)  %> <-->
<h1>Demonstrativo do Resultado Final das Firmas </h1>


</nav>
<br>

<table class="table table-bordered">
<thead class="table-dark table-sm">
  <tr>
    <td> Id </td>
    <td> Firma </td>
    <td> Setor</td>
    <td> Capital R$ &nbsp;&nbsp;</td>
    <td> Quantidade </td>
    <td> Compras R$ </td>
    <td> Vendas R$ </td>
    <td> Usuário id Nome </td>
    <td> Em branco </td>
  </tr>
</thead>
<tbody>
<% @firmas.each do |firma| %>
    <tr>
    <% @user = User.find(firma.user_id)  %>
      <th scope="row">  <%= firma.id %> </th>
      <th scope="row">  <%= firma.name %> </th>
      <th scope="row">  <%= firma.sector %> </th>
      <th scope="row">  <%= firma.capital %> </th>
      <th scope="row">  <%= firma.product %> </th>
      <th scope="row">  <%= firma.compras %> </th>
      <th scope="row">  <%= firma.vendas %> </th>
      <th scope="row">  <%= firma.user_id %> <%= @user.first_name %> <%= @user.last_name %></th>
      <th scope="row">  ??? </th>

    </tr>
 <% end %>
 </tbody>
</table>
  <br>
  <p type="button" class="btn btn-outline-success rounded-pill"><%= link_to 'Voltar ao Menu!', firmas_path(current_user) %></p>
</div>
