<div class='container bg-trasparent my-2 p-1'>
<nav class="navbar navbar-light bg-light d-flex justify-content-between">
<h1>Rank das firmas</h1>
<%= image_tag ("https://source.unsplash.com/qfp4-Ud6Fyg"), class: "avatar-square" %>
</nav>
<br>

<table class="table table-light table-striped table-hover">
<thead class="table-light table-sm align-middle text-center">
  <tr>
    <td> Avatar </td>
    <td> User</td>
    <td> Firma </td>
    <td> Setor</td>
    <td> Estoque </td>
    <td> Qtd Vendida</td>
    <td> Período</td>
    <td> Capital R$ &nbsp;&nbsp;</td>
    
  </tr>
</thead>
<tbody class="align-middle text-center">
<% @firmas.each do |firma| %>
    <tr>
    <% if firma.user.photo.attached? %>
      <th scope="row">  <%= image_tag (firma.user.photo), class: "avatar-small" %> </th>
      <% else %>
       <th scope="row"> <%= image_tag ("logo.png"), class: "avatar-small"%> </th>
      <% end %>
      <th scope="row">  <%= firma.user.first_name%> <%= firma.user.last_name%> </th>
      <th scope="row">  <%= firma.name %> </th>
      <th scope="row">  <%= firma.sector %> </th>
      <th scope="row">  <%= firma.product %> </th>
      <th scope="row">  <%= firma.sales %> </th>
      <th scope="row">  <%= firma.periodo %> </th>
      <th scope="row">  <%= firma.capital %> </th>
    </tr>
 <% end %>
 </tbody>
</table>
  <br>
  <p type="button" class="btn btn-dark rounded-pill"><%= link_to 'Voltar ao Menu!', root_path %></p>
</div>
