<div class='container bg-trasparent my-2 p-1'>
<nav class="navbar navbar-light bg-light">

<h1>Demonstrativo do Resultado Final das Firmas </h1>


</nav>
<br>

<table class="table table-bordered">
<thead class="table-dark table-sm">
  <tr>
    <td> Ordem </td>
    <td> Usuário id Nome </td>
    <td> Firma id Nome </td>
    <td> Setor</td>
    <td> Períodos </td>
    <td> Capital </td>
  </tr>
</thead>
<tbody>
<% ind = 0 %>
<% @firmas_aux = @firmas.order('capital DESC') %>
<% @firmas_aux.each do |firma| %>
    <tr>
      <% ind += 1 %>
      <% @user = User.find(firma.user_id)  %>
      <% @lancamento = Lancamento.where(firma_id: firma.id).last %>
      <th scope="row">  <%= ind %> </th>
      <th scope="row">  <%= firma.user_id %> <%= @user.first_name %> <%= @user.last_name %></th>
      <th scope="row">  <%= firma.id %> <%= firma.name %> </th>
      <th scope="row">  <%= firma.sector %> </th>
      <% if @lancamento %>
        <th scope="row"> <%= @lancamento.date %> </th>
      <% else %>
        <th scope="row">  -- </th>
      <% end %>
      <th scope="row">  <%= firma.capital %> </th>
      </tr>
 <% end %>
 </tbody>
</table>
  <br>
  <p type="button" class="btn btn-outline-success rounded-pill"><%= link_to 'Voltar ao Menu!', firmas_path(current_user) %></p>
</div>
