
<%# <main id="cards"> %>
  <div class="container-fluid bg-trasparent my-4 p-3" style="position: relative;">
    <%# <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3"> %>
    <div class="container text-center">
      <%# <div class="card h-100 shadow-sm"> %>
        <p class="font-italic">Área de atuação: <%= @firma.sector %></p>
        <h1 class="font-weight-bold"><%= @firma.name %></h1>
      <%# </div> %>
    </div>
  <div class="container text-left">
    <p>Capital:<%= @firma.capital %></p>
    <p>Estoque:<%= @firma.product %></p>
    <!-- TODO: Testar se está aparecendo a foto -->
    <% if @firma.photo.attached? %>
      <%= cl_image_tag @firma.photo.key, height: 300, width: 400, crop: :fill %>
    <% end %>

  </div>
    <div class="d-flex justify-content-around">
    <%# <%= 'Comprar mais!', class: "btn btn-outline-danger" %>
    <%= link_to 'Comprar', firma_fornecedores_path(@firma), class:"btn btn-primary"%>
    <p type="button" class="btn btn-success"><%='Girar mês / Vender'%></p>
    </div>
  </div>

 
