
<main id="status">
  <div class="container my-4 p-3">
    <div class="card">
      <h1 class="text-center fw-bold"><%= @firma.name %></h1>
      <p class="text-center fst-italic">Área de atuação: <strong><%= @firma.sector %></strong></p>
    </div>
  

  <div class="container-fluid my-4 p-3">
    <div class="d-flex justify-content-around">
      <div class="badge bg-dark text-wrap" style="width: 130px;">
        <h5><strong>Mês incial:</strong></h5>
        <h5><%= @firma.created_at.strftime("%m/%y")%></h5>
      </div>
      <div class="badge bg-dark text-wrap" style="width: 130px;">
        <h5><strong>Periodo corrente:</strong></h5>
         <h5><%=@firma.periodo%></h5>
      </div>
      <div class="badge bg-dark text-wrap" style="width: 130px;">
        <h5><strong>Capital:</strong></h5>
        <h5> R$ <%= @firma.capital %></h5>
      </div>  
      <div class="badge bg-dark text-wrap" style="width: 130px;">
        <h5><strong>Estoque:</strong>
        <h5><%= @firma.product %> unidades</h5>
      </div>
    </div>
  </div>

  <%# <div class="container-fluid">
    <h5><strong>Previsão para o próximo mês:</strong></h5>
    <p> Digite aqui a previsão!</p>
  </div> %>
  
  <div class="card" style="height: 90px;">
    <div class= "d-flex mt-4 justify-content-around">
      <p type="button" class="btn btn-success rounded-pill"><%= link_to 'Estoque / Comprar', firma_fornecedores_path(@firma) %></p>
      <p type="button" id="sweet-alert-demo" class="btn btn-success rounded-pill"><%= link_to 'Girar mês / Vender', firma_venda_path(firma_id:@firma.id, notice:"Teste"), method: "PATCH" %></p>
    </div>
  </div>
</div>
