<nav id="navbar" class="d-flex">
  <div class="navbar w-100 navbar-expand-sm navbar-light navbar-marketplace" >
    <%= link_to root_path, class: "navbar-brand navbar-collapse collapse" do %>
      <%= image_tag ("logo2.jpeg"), class: "avatar" %>
    <% end %>
  
  
  <!-- Burguer Menu will replace the links when screen width is small enough -->

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to "Home", root_path, class: "nav-link" %>
        </li>
        <li class="nav-item">

          <%= link_to "Firma", firma_path(current_user), class: "nav-link" %>
        </li>
            <% if current_user.photo.attached? %>
          <div class="nav-item dropdown "> 
          <a href="#" id="DropdownMenu2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <%= cl_image_tag current_user.photo.key, class: "avatar"%>
          </a>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="DropdownMenu2">
            <%= link_to "Criar firma", new_firma_path, class: "dropdown-item" %>
            <%= link_to "Restultados", "#", class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </div>
            <% else %>
          <div class="nav-item dropdown"> 
          <a href="#" id="DropdownMenu2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <%= image_tag ("logo.png"), class: "avatar"%>
          </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="DropdownMenu2">
            <%= link_to "Criar firma", new_firma_path, class: "dropdown-item" %>
            <%= link_to "Restultados", "#", class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </div>
            <% end %>
          
      <% else %>
        <li class="nav-item">
          <%= link_to "Sig in", new_user_registration_path, class: "nav-link" %>
          </li>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <li class="nav-item">
        <a href="#" id="DropdownMenu2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <%= image_tag ("logo4.png"), class: "avatar"%>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
  </div>
</nav>
