<main id="cards">
<div class="container-fluid bg-trasparent my-3 p-2" style="margin-top: 200px">
  <div class="card-group">
    <% @fornecedores.each_with_index do |fornecedor, index| %>
      <div class="col-sm-4">
        <div class="card"  style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title"> Empresa: <%= fornecedor.name %> </h5>
               <p class="card-text">
               <li> Produto:<%=  fornecedor.name_produto%> </li>
               <li> Preço: R$<%=  fornecedor.preco %></li>
               <li> Estoque: <%=  fornecedor.estoque %></li>
              <li>Prazo: <%=  fornecedor.prazo %></li>
              <br>
              <form class="slidecontainer" action= <%=firma_path(@firma, fornecedor_id: fornecedor.id)%> method= 'post'>
                 <input type="hidden" name="_method" value="put" />
                   <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                   <input type="range" min="1" max="<%=fornecedor.estoque %>" class="slider" id=<%="myRange_#{index}"%> name= "[firma][product]">
                   <p>Value: <output id=<%="demo_#{index}"%>></output></p>
              <div class="card text-center">
                <button type="submit" class="btn btn-success">Comprar?</button>
              </div>
             </form>
          </p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
</main>
